* {
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.bg {
    background: url('https://images.unsplash.com/photo-1564566989936-ed7aeba0708d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80') no-repeat center center/cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
    
    z-index: -1;
    filter: blur(0px);
}
.loading-text {
    font-size: 50px;
    color: #fff;
}